#topbar {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    margin-top: 8px;
    width: 86px;
    float: left;
    margin-right: 8px;
}

.topbar-section {
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
}

.fa-sign-in,
.fa-bell {
    margin: 12px 10px 12px 15px;
    float: left;
}

#signin-text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 12px;
    padding-right: 35px;
}

#bell-div {
    margin-left: 5px;
    float: left;
    border-left: 1px #cccccc solid;
}

.topbar-menu {
    font-weight: bold;
    font-size: 90%;
    padding: 12px 10px 0px 10px;
    height: 28px;
}

.caret {
    margin-left: 20px;
}

#search-box {
    background-color: #E4E4E4;
    float: left;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 6px 0 6px 6px;
    width: 150px;
}

.fa-search {
    float: left;
    background-color: #E4E4E4;
    margin-top: 6px;
    height: 21px;
    padding: 5px 5px 0 5px;
}

.clear {
    clear: both;
}

#menu-bar-container {
    border-top: 1px solid #cccccc;
    height: 60px;
    background-color: #BB1919;
    width: 100%;
}

#menu-bar {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 8px;
    float: left;
}

#menu-bar-2-container {
    background-color: #A91717;
    width: 100%;
}

#menu-bar-2 {
    width: 1000px;
    margin: 0 auto;
    height: 38px;
}

#menu-bar-2 a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #BB4545;
    font-size: 14px;
    position: relative;
    top: 10px;
}

#menu-bar-2 a:hover {
    text-decoration: underline;
}

#more-caret {
    color: white;
    height: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    margin-top: 40px;
    font-size: 20px;
    border-bottom: 3px solid #a91717;
    width: 105px;
}
