.container{
  text-align: center;
  padding-top: 50px;
}

body{
  background-color: aqua;
}

hr{
  width: 520px;
  border-bottom: 1.5px solid black;
}
li{
  padding-top: 20px;
}
.quote-box{
  width: 600px;
  margin: 5em auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 1em;
}
