body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

.container {
    text-align: center;
    padding-top: 30px;
}

body {
    background-color: aqua;
}

hr {
    width: 520px;
    border-bottom: 1.5px solid black;
}

.share-quote {
    float: left;
}

#buttons {
    position: relative;
}

.get-quote {
    position: absolute;
    right: 0;
}

.quote-box {
    width: 700px;
    height: 390px;
    margin: 5em auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 1em;
}
